*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif
}

a{
    text-decoration: none;
    color: #000;
}

.container{
    min-height: 98vh;
    background-color: #fff;
}
